.container {
  display: flex;
  width: 14rem;
  align-items: center;
  justify-content: space-between;
}

.btn-container {
  height: calc(1rem * var(--h));
  width: calc(1rem * var(--w));
  position: relative;
  overflow-x: hidden;
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 300ms;
}

.btn {
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  width: calc(1rem * var(--w));
  height: calc(1rem * var(--h));

  text-align: center;
  color: #455d7a;
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.6s;
}

.btn:focus {
  color: white;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

.btn-container:hover {
  box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
  transform: translateY(0.2rem);
  transition: all 200ms;
}

.liquid {
  height: calc(1rem * var(--h));
  width: calc(1rem * var(--w));
  position: absolute;
  border-radius: 1rem;
  background-color: #f95959;
  z-index: -1;
}

.right {
  animation: moveright 0.7s forwards;
}

.right-back {
  animation: moveright-back 0.8s forwards;
}

.left {
  animation: moveleft 0.8s forwards;
}

.left-back {
  animation: moveleft-back 0.7s forwards;
}

@keyframes moveright {
  0% {
    transform: translateX(0rem);
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
  }
  20% {
    border-radius: 60px 20px 20px 60px / 20px 20px 20px 20px;
  }
  40% {
    border-radius: 100px 20px 20px 100px / 20px 20px 20px 20px;
  }
  60% {
    border-radius: 200px 20px 20px 200px / 20px 20px 20px 20px;
  }
  80% {
    border-radius: 300px 20px 20px 300px / 20px 20px 20px 20px;
  }
  100% {
    transform: translateX(8rem);
    border-radius: 300px 20px 20px 300px / 20px 20px 20px 20px;
  }
}
@keyframes moveright-back {
  0% {
    transform: translateX(8rem);
    width: 3rem;
    border-radius: 20px 40px 40px 20px / 20px 20px 20px 20px;
  }
  20% {
    transform: translateX(8rem);
  }
  80% {
    width: 3rem;
    transform: translateX(0rem);
    border-radius: 20px 40px 40px 20px / 20px 20px 20px 20px;
  }
  100% {
    width: 6rem;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
  }
}
@keyframes moveleft {
  0% {
    transform: translateX(-8rem);
    width: 3rem;
    border-radius: 40px 20px 20px 40px / 20px 20px 20px 20px;
  }
  20% {
    transform: translateX(-8rem);
  }
  80% {
    width: 3rem;
    transform: translateX(3rem);
    border-radius: 40px 20px 20px 40px / 20px 20px 20px 20px;
  }
  100% {
    width: 6rem;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
  }
}
@keyframes moveleft-back {
  0% {
    transform: translateX(0rem);
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
  }
  20% {
    border-radius: 20px 60px 60px 20px/ 20px 20px 20px 20px;
  }
  40% {
    border-radius: 20px 100px 100px 20px/ 20px 20px 20px 20px;
  }
  60% {
    border-radius: 20px 200px 200px 20px/ 20px 20px 20px 20px;
  }
  80% {
    border-radius: 20px 300px 300px 20px / 20px 20px 20px 20px;
  }
  100% {
    transform: translateX(-8rem);
    border-radius: 20px 300px 300px 20px / 20px 20px 20px 20px;
  }
}
